/*
* jQuery Mobile Git Build: SHA1: 9130927464f2d3e0300a9fb36ebfd69448cf3675 <> Date: Wed Feb 20 11:08:42 2013 -0800
* http://jquerymobile.com
*
* Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #323232 ;
	background: #323232 ;
	color: #ffffff ;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #232323 ), to( #414141 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #232323 , #414141 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #232323 , #414141 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #232323 , #414141 ); /* IE10 */
	background-image:      -o-linear-gradient( #232323 , #414141 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #232323 , #414141 );
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff ;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 ;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489ce ;
}

.ui-bar-a a.ui-link:hover {
	color: #2489ce ;
}

.ui-bar-a a.ui-link:active {
	color: #2489ce ;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	  font-family: Helvetica, Arial, sans-serif ;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #aaaaaa ;
	color: #333333 ;
	background: #e6e6e6 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e6e6e6 ), to( #e6e6e6 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e6e6e6 , #e6e6e6 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e6e6e6 , #e6e6e6 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e6e6e6 , #e6e6e6 ); /* IE10 */
	background-image:      -o-linear-gradient( #e6e6e6 , #e6e6e6 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #e6e6e6 , #e6e6e6 );
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	  font-family: Helvetica, Arial, sans-serif ;
}
.ui-body-a .ui-link-inherit {
	color: #333333 ;
}

.ui-body-a .ui-link {
	color: #b72523 ;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489ce ;
}

.ui-body-a .ui-link:hover {
	color: #2489ce ;
}

.ui-body-a .ui-link:active {
	color: #2489ce ;
}

.ui-btn-up-a {
	border: 1px solid #ffffff ;
	background: #323232 ;
	font-weight: bold;
	color: #b72523 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #323232 ), to( #323232 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #323232 , #323232 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #323232 , #323232 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #323232 , #323232 ); /* IE10 */
	background-image:      -o-linear-gradient( #323232 , #323232 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #323232 , #323232 );
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #b72523 ;
}
.ui-btn-hover-a {
	border: 1px solid #ffffff ;
	background: #323232 ;
	font-weight: bold;
	color: #b72523 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #323232 ), to( #323232 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #323232 , #323232 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #323232 , #323232 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #323232 , #323232 ); /* IE10 */
	background-image:      -o-linear-gradient( #323232 , #323232 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #323232 , #323232 );
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #b72523 ;
}
.ui-btn-down-a {
	border: 1px solid #fff ;
	background: #b72523 ;
	font-weight: bold;
	color: #ffffff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b72523 ), to( #b72523 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #b72523 , #b72523 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #b72523 , #b72523 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #b72523 , #b72523 ); /* IE10 */
	background-image:      -o-linear-gradient( #b72523 , #b72523 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #b72523 , #b72523 );
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #ffffff ;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	  font-family: Helvetica, Arial, sans-serif ;
	text-decoration: none;
}


/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #2373a5 ;
	background: #387bbe ;
	font-weight: bold;
	color: #ffffff ;
	cursor: pointer;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 ), to( #6facd5 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5393c5 , #6facd5 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5393c5 , #6facd5 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5393c5 , #6facd5 ); /* IE10 */
	background-image:      -o-linear-gradient( #5393c5 , #6facd5 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #5393c5 , #6facd5 );
	  font-family: Helvetica, Arial, sans-serif ;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff ;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-all {
	-webkit-border-radius: .6em ;
	border-radius: .6em ;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-color: rgb(130,130,130);
	border-color: rgba(130,130,130,.3);
	border-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background-color: #666666 ;
	background-color: rgba(0,0,0,.4) ;
	background-image: url(images/icons-18-white.png) ;
	background-repeat: no-repeat;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}

/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
	background-color: 						#fff;
	background-color: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* No disc
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-nodisc .ui-icon,
.ui-icon-nodisc .ui-icon-searchfield:after,
.ui-icon-nodisc .ui-icon-alt .ui-icon,
.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after {
	background-color: transparent;
}

/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/

/* plus minus */
.ui-icon-plus {
	background-position: 	-1px -1px;
}
.ui-icon-minus {
	background-position: 	-37px -1px;
}
/* delete/close */
.ui-icon-delete {
	background-position: 	-73px -1px;
}
/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px -1px;
}
.ui-icon-arrow-l {
	background-position: 	-144px -1px;
}
.ui-icon-arrow-u {
	background-position: 	-180px -1px;
}
.ui-icon-arrow-d {
	background-position: 	-216px -1px;
}
/* misc */
.ui-icon-check {
	background-position: 	-252px -1px;
}
.ui-icon-gear {
	background-position: 	-288px -1px;
}
.ui-icon-refresh {
	background-position: 	-323px -1px;
}
.ui-icon-forward {
	background-position: 	-360px -1px;
}
.ui-icon-back {
	background-position: 	-396px -1px;
}
.ui-icon-grid {
	background-position: 	-432px -1px;
}
.ui-icon-star {
	background-position: 	-467px -1px;
}
.ui-icon-alert {
	background-position: 	-503px -1px;
}
.ui-icon-info {
	background-position: 	-539px -1px;
}
.ui-icon-home {
	background-position: 	-575px -1px;
}
/* search */
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-611px -1px;
}
/* checkbox radio */
.ui-icon-checkbox-on {
	background-position: 	-647px -1px;
}
.ui-icon-checkbox-off {
	background-position: 	-683px -1px;
}
.ui-icon-radio-on {
	background-position: 	-718px -1px;
}
.ui-icon-radio-off {
	background-position: 	-754px -1px;
}
/* menu edit */
.ui-icon-bars {
	background-position: 	-788px -1px;

}
.ui-icon-edit {
	background-position: 	-824px -1px;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
	.ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 864px 18px;
		-o-background-size: 864px 18px;
		-webkit-background-size: 864px 18px;
		background-size: 864px 18px;
	}

	.ui-icon-alt .ui-icon {
		background-image: url(images/icons-36-black.png);
	}

	.ui-icon-plus {
		background-position: 	0px 50%;
	}
	.ui-icon-minus {
		background-position: 	-36px 50%;
	}
	.ui-icon-delete {
		background-position: 	-72px 50%;
	}
	.ui-icon-arrow-r {
		background-position: 	-108px 50%;
	}
	.ui-icon-arrow-l {
		background-position: 	-144px 50%;
	}
	.ui-icon-arrow-u {
		background-position: 	-179px 50%;
	}
	.ui-icon-arrow-d {
		background-position: 	-215px 50%;
	}
	.ui-icon-check {
		background-position: 	-252px 50%;
	}
	.ui-icon-gear {
		background-position: 	-287px 50%;
	}
	.ui-icon-refresh {
		background-position: 	-323px 50%;
	}
	.ui-icon-forward {
		background-position: 	-360px 50%;
	}
	.ui-icon-back {
		background-position: 	-395px 50%;
	}
	.ui-icon-grid {
		background-position: 	-431px 50%;
	}
	.ui-icon-star {
		background-position: 	-467px 50%;
	}
	.ui-icon-alert {
		background-position: 	-503px 50%;
	}
	.ui-icon-info {
		background-position: 	-538px 50%;
	}
	.ui-icon-home {
		background-position: 	-575px 50%;
	}
	.ui-icon-search,
	.ui-icon-searchfield:after {
		background-position: 	-611px 50%;
	}
	.ui-icon-checkbox-on {
		background-position: 	-647px 50%;
	}
	.ui-icon-checkbox-off {
		background-position: 	-683px 50%;
	}
	.ui-icon-radio-on {
		background-position: 	-718px 50%;
	}
	.ui-icon-radio-off {
		background-position: 	-754px 50%;
	}
	.ui-icon-bars {
		background-position: 	-788px 50%;
	
	}.ui-icon-edit {
		background-position: 	-824px 50%;
	}
}

/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #387bbe ; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}

/* Button corner class
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-corner-all {
	-webkit-border-radius: 1em ;
	border-radius: 1em ;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-all,
.ui-btn-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 3px  rgba(0,0,0,.2) ;
	-webkit-box-shadow: 0px 1px 3px  rgba(0,0,0,.2) ;
	box-shadow: 0px 1px 3px  rgba(0,0,0,.2) ;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) ;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) ;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) ;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #387bbe , 0px 0px 9px #387bbe ;
	-webkit-box-shadow: inset 0px 0px 3px #387bbe , 0px 0px 9px #387bbe ;
	box-shadow: inset 0px 0px 3px #387bbe , 0px 0px 9px #387bbe ;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #387bbe ;
	-webkit-box-shadow: 0px 0px 12px #387bbe ;
	box-shadow: 0px 0px 12px #387bbe ;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}








/* Custom Layout and UI styles 
-----------------------------------------------------------------------------------------------------------*/

.ui-page-active{background: linear-gradient(#F9F9F9, #EEEEEE) repeat scroll 0 0 #F9F9F9; min-height: 50%; height: 90%; }
.ui-content{min-height: 60%; height: 80%; }
#searchList .ui-content{padding-bottom: 0 }
#products .ui-content{min-height: 0; height: 100%; }

/*Test*/
.collapsible{margin-bottom: 1em }
.collapsible ul{display: none; }
.hdrSearch{width: 75%; margin: 0 auto; }

#headerNav .ui-btn-text {white-space: normal; font-size: 90%; font-weight: normal }
.mobile-subheader{padding: 0; overflow: hidden; position: relative; clear: both float: none;}
.mobile-subheader .ui-btn-right{float: right; position: relative;}
.mobile-subheader .ui-btn-left{float: left; position: relative;}
.mobile-subheader .ui-field-contain {padding: 0 0 0.8em 0;margin: 0; overflow: hidden;}
.ui-btn-center{margin: 0 auto; display: block; margin-top: -10px}
.mobile-subheader .ui-btn-center{display: inline-block; margin-top: 5px; width: 30%; left: 38%; position: absolute; }
.ui-li-thumb{max-height: auto; max-width: 100px; margin-top: 25px; }

/*Prod Buttons*/
.prodButtons .ui-mini{margin: 0.25em 2em; }

.ui-header-fixed{overflow: hidden; }

.ui-input-search{display: block !important; margin: 0 auto !important; }
.ui-grid-b > :nth-child(n) {margin-right: 0px!important; }

/*Avoid content concat*/
 body .ui-li .ui-li-desc, .ui-li-heading,  body .ui-footer .ui-title {white-space: normal; }

 /* Animation Speed*/
.in, .out {-webkit-animation-timing-function: ease-in-out; -webkit-animation-duration: 300ms !important; }

 /*Flicker issue*/
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {overflow: visible; }
.ui-page {-webkit-backface-visibility: hidden !important; }

/*Sliders*/
.bx-wrapper{margin-bottom: 10px }
.bx-wrapper .bx-prev{left: -10px; }
.bx-wrapper .bx-next{right: -10px; }
.sliders{visibility: hidden; }

.bx-wrapper .sliders{visibility: visible; }
.bx-wrapper .bx-controls-direction a{top: 3em; z-index: 10; }

/*Home Page Styles*/
#home .bx-wrapper .bx-controls-direction a{top: 50%; }
#home .prodImage img{width: 80%; margin-top: 5%; margin-bottom: 5%;}

/*Product Page styles*/
#products .bx-pager, #customerReview .bx-pager{display: none; }
.prodImage img{margin: 0 auto; width: 50%;}
.prodName, .prodRateBar{text-align: center; font-size: 80%; font-weight: normal;}
.prodRateBar{text-align: center; font-size: 100%; font-weight: normal;}	
.prodOptions .price{float: left; width: 46%; height: 40px; line-height: 50px; font-size: 90% }
.prodName a{text-decoration: none !important; }
.addToCart{float: right; width: 50%; height: 40px; }
.addToCart input.qty.ui-input-text{width: 50px !important; font-size: 80%; }
.addToCart div{display: block !important; float: left; }
.addToCart .ui-btn{padding-left: 50px }
.addToCart div.ui-input-text{position: absolute; z-index: 5; }
.addToCart .ui-btn-inner{font-size: 70%; padding-right: 10px }

/*Customer review page*/
#custReview ul{list-style: none; }

/*List view*/
.ui-content .ui-listview, .ui-panel-inner > .ui-listview{margin-bottom: 57px; }



			